body {
  font-family: sans-serif;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#shape {
  width: 200px;
  height: 200px;
  background-color: red;
  display: none;
  position: relative;
}

.bold {
  font-weight: bold;
}

.text-color {
  color: white;
}
